.sidebar-items-text{
    text-decoration: none !important;
    outline: none !important;
}
.sidebar-items-icon{
    color: blue !important;
}
.sidebar-text-deco{
    text-decoration: none !important;
}